@import "main";

.lak-kachel,.wide-kachel{
  align-content: center;
  vertical-align: middle;

  background-color: $magenta;
  color: white;

  text-align: center;
  line-height: 1.2em;

  border-radius: .4rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  font-weight: 800;

  cursor: pointer;

  box-shadow: 0 0.5rem 0 $darker_magenta;

  &:hover{
    background-color: $darker_magenta;
  }
}

.lak-kachel{
  min-height: 10rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: .5rem;
  padding-right: .5rem;

  text-transform: uppercase;
}

.wide-kachel{
  min-height: 3rem;
  padding-top: .25rem;
  padding-bottom: 0.25rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.wide-kachel-i{
  font-size: 3rem !important;
}

.lak-kachel-wrapper{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.wide-kachel-wrapper{
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.kachel-wrapper{
  margin: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}