@import "main";

.lak-kachel,.wide-kachel{
  align-content: center;
  vertical-align: middle;

  background-color: $magenta;
  color: white;
  border-radius: .4rem;

  text-align: center;
  font-weight: 800;
  line-height: 1.2em;
  
  margin: 0rem;

  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  box-shadow: 0 0.5rem 0 $darker_magenta;

  &:hover{
    background-color: $darker_magenta;
  }
}

.kachel-wrapper{
  margin: 1rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  padding-left: .5rem;
  padding-right: .5rem;

  .lak-kachel-wrapper{
    margin: 0rem;
    .lak-kachel{
      min-height: 8rem;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      padding-left: .5rem;
      padding-right: .5rem;

      text-transform: uppercase;
    }
  }

  .wide-kachel-wrapper{
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    .wide-kachel{
      min-height: 5rem;
      padding-top: .25rem;
      padding-bottom: 0.25rem;
      padding-left: .5rem;
      padding-right: .5rem;
      i{
        font-size: 3rem !important;
      }
    }
  }
}