@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Black.otf) format('truetype');
  font-weight: 900;
}
@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat-ExtraBold.otf) format('truetype');
  font-weight: 800;
}
@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.otf) format('truetype');
  font-weight: 700;
}
@font-face{
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.otf) format('truetype');
  font-weight: 400;
}

//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$magenta: #e5007d;
$darker_magenta: #c10069;
$cyan: #009EE3;
$darker_cyan: #007AAF;
$yellow: #ffed00;
$grey: #5f5f5f;
$lighter_grey:#707070;

* {
  font-family: 'Montserrat';
  -moz-hyphens: manual;
  -o-hyphens: manual;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

body *{
  word-break: break-word;
}

.text-magenta {
  color: $magenta;
}

.text-cyan {
  color: $cyan;
}

.vertical-divider{
  margin: .8rem;
  border: none;
  border-bottom: 3px solid $lighter_grey;
}

.header-sticky {
  position: sticky;
  top: 0;
}

.button-wrapper {
  text-align: center;
  padding: 0.5em;

  .btn {
    background-color: $cyan;
    border-radius: 0.4em;
    border: none;
    font-weight: bold;
    box-shadow: 0rem 0.2rem 0 $darker_cyan;
  }
}

::-webkit-input-placeholder { /* Edge */
  color: black;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}
::placeholder {
  color: black;
}

.search-wrapper {
    width: 100%;
  .search {
    width: 100%;
    height: 1.75rem;
    border-radius: 0;
    border: 1px solid $lighter_grey;
    font-size: 0.6rem;
    font-style: italic;
    color: black;
    padding-left: .5rem;
    padding-bottom: 0.1rem;
    font-weight: 500;
    &:focus{
      border: 1px solid black;
      outline: none;
    }
    
  }
  
}

.vc-rounded-full {
  border-radius: 0 !important;
  margin: 0;
}

.vc-h-full {
  width: 100%;
}

.veranstaltungs-vorschau-item {

  align-content: center;

  font-weight: bolder;

  //padding-top: .5rem;
  //padding-bottom: .5rem;

  border-bottom: 1px solid #b7b7b7;
  border-top: 1px solid #b7b7b7;

  .datum-tag {
    background-color: $magenta;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0.5rem;
  }

  .ist_heute {
    background-color: $yellow !important;
  }

  .keine-veranstaltungen {
    background-color: #dfdfdf !important;
  }

  .keine-veranstaltungen-text {
    font-size: 1rem !important;
  }

  .info-text {
    //padding: 1rem 0.5rem;
    padding-left: .5rem;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}


.kalender-header {
  height: 6.5rem;
  background-color: $magenta;

  padding-top: 3.5rem;
  color: white;

  .switch-icon {
    position: absolute;
    right: 1rem;
    top: 3.5rem;
  }
}