$magenta: #e5007d;
$darker_magenta: #c10069;
$cyan: #009EE3;
$gelb: #ffed00;

.text-magenta {
  color: $magenta;
}

.text-cyan{
  color: $cyan;
}


.lak-kachel{
  min-height: 10rem;
  align-content: center;

  background-color: $magenta;
  color: white;

  text-align: center;

  border-radius: .6rem;

  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;

  margin-top: 1.5rem;

  font-weight: 600;
  text-transform: uppercase;

  cursor: pointer;

  border-bottom: $darker_magenta .5rem solid;

  &:hover{
    background-color: $darker_magenta;
  }
}


.clickable{
  cursor: pointer;
}


.vc-rounded-full{
  border-radius: 0 !important;
  margin: 0;
}

.vc-h-full{
  width: 100%;
}

.veranstaltungs-vorschau-item{

  align-content: center;

  font-weight: bolder;

  //padding-top: .5rem;
  //padding-bottom: .5rem;

  border-bottom: 1px solid #b7b7b7;
  border-top: 1px solid #b7b7b7;

  .datum-tag{
    background-color: $magenta;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 0.5rem;
  }

  .ist_heute{
    background-color: $gelb !important;
  }

  .info-text{
    //padding: 1rem 0.5rem;
    padding-left: .5rem;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
  }
}

