@import "main";

nav {
  height: 100vh;
  max-width: 320px;
  width: 100vw;
  transition: 300ms;
  border-right: 1px solid $lighter_grey;

  background-color: white;
  position: fixed;
  
  z-index: 50;
  
  #nav-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    
    #nav-header {
      width: 100%;
      font-size: 40px;
      min-height: 100px;
      background-color: white;

      img {
        margin-top: 1.3rem;
        margin-left: 3rem;
        width: 15rem;
        height: 100%;
      }
    }
    
    #nav-body {
      height: 100vh;
      margin-top: 1.5rem;
      font-size: 1.8rem;
      font-weight: bold;
      
      list-style: none;
      padding: 0px;
      

      .nav-item {
        padding: .5rem 1.5rem;
        position: relative;

        .icon-right {
          position: absolute;
          right: 10px;
          top: 15px;
        }
      }

      .unfoldList {
        li {
          color: white !important;
          i {
            color: white;
          }
        }
        list-style: none;
        font-size: 20px;
        padding: .5rem;
        width: 100%;
        background-color: $magenta;
      }

      i {
        color: $magenta;
        padding-right: 0.5rem;
      }
      .external-link{
        color: $lighter_grey;
        font-size: 1.5rem;
      }

      .nav-subitem {
        padding: .6rem 1.5rem;
        font-size: 1rem;
        font-weight: bold;
      }

      .horizontal-line {
        border-bottom: 3px solid $magenta;
        margin: 10px 20px;
      }
    }

    #nav-footer{
      color: $magenta;
      text-align: center;
      font-weight: bolder;

      padding: 1rem;
    }
  }
}

// button
#nav-button {
  color: $magenta;
  background-color: white;

  position: fixed;
  top: 3em;
  z-index: 100;

  border-style: none;
  outline: none;

  padding-top: .3rem;
  padding-bottom: .3rem;
}
.opened-nav-button {
  color: #fff;
  background-color: #E5007D !important;
  border-style: none;
}